# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# autotools stuff
Makefile
Makefile.in
aclocal.m4
config.log
config.status
configure
depcomp
install-sh
missing

# backups
*~
